body {
  background-color: #d4c5e3;
  display: flex;
  justify-content: center;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { 
  font: 20px Monospace;
  font-weight: bold; 
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 3px;
}